[submodule "40423204"]
	path = 40423204
	url = https://github.com/40423204/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423243"]
	path = 40423243
	url = https://github.com/40423243/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423221"]
	path = 40423221
	url = https://github.com/40423221/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423228"]
	path = 40423228
	url = https://github.com/40423228/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423253"]
	path = 40423253
	url = https://github.com/40423253/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423254"]
	path = 40423254
	url = https://github.com/40423254/2016fallcadp_hw.git
	branch = gh-pages
